{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<form style="background-color: Wheat;">
<h1 style="color:MidnightBlue;" align="center">СТАНИ БОГАТ</h1>
<h2 style="color:  #00008B">КАТЕГОРИИ</h2>
{% if latest_question_list %}
    <ul>
    {% for category in latest_question_list %}
        <li><a href="{% url 'polls:detail' category.id%}" style="color: #00008B">{{ category }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</form>


