{% extends 'polls/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<form style="background-color: Wheat;">
{% csrf_token %}
<h1 style="color:MidnightBlue;" align="center">СТАНИ БОГАТ</h1>
<h2 style="color:  #00008B">КАТЕГОРИИ</h2>
{% if categories_list %}
    <ul>
    {% for category in categories_list %}
        <li><a href="{% url 'polls:random' category.id %}" style="color: #00008B">{{ category }}</a></li>
    {% endfor %}
    </ul>
    <button type="submit" formaction="{% url 'polls:game' %}" formmethod='get' name='category_position' value='0' style='color: MidnightBlue;'>Започни игра</button>
{% else %}
    <p>No categories are available.</p>
{% endif %}
</form>
{% endblock %}