{% extends 'polls/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<form style="background-color: Wheat;" method='post'>
{% csrf_token %}
<h1 style="color:MidnightBlue; font-size: 50px;" align="center">СТАНИ БОГАТ</h1>
<h2 style="color:MidnightBlue;" id="categories-text" align="center">КАТЕГОРИИ</h2>
{% if categories_list %}
	<div id="divs-in-center-aligned-horizontally">
	    <div id="categories-by-5s">
	    {% for category in categories_list %}
	    	{% if forloop.counter == 6 or forloop.counter == 11 or forloop.counter == 16 %}
	    		</div>
	    		<div id="categories-by-5s">
	    	{% endif %}
	    	<div id="button-holder">
	        	<button type="submit" class="list-category" formaction="{% url 'polls:random' category.id %}"  style='color: MidnightBlue;'>{{ category }}</button>
	        </div>
	    {% endfor %}
		</div>
	</div>
{% else %}
    <p>No categories are available.</p>
{% endif %}
</form>
{% endblock %}