{% extends 'polls/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<form style="background-color: Wheat;" method='post'>
{% csrf_token %}
	<div id="bottom-padded">
		<h1 style="color:MidnightBlue; font-size: 50px;" align="center">СТАНИ БОГАТ</h1>
		{% if episodes %}
		<div id="button-holder">
				    
			    
				<table class="table table-bordered">
				  <thead>
				    <tr>
				      <th></th>
				      <th></th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr>
					    {% for episode in episodes %}
					    		<td style="padding-left: 60px;">
						    		<h2 style="color: MidnightBlue; padding-left: 110px;">Епизод {{ episode.number }}</h2>
						    		<iframe width="340" height="200" src={{ episode.link }} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					    		</td>
					    {% endfor %}
				      
				        
				    </tr>
				  
				  </tbody>
				</table>
				</div>
		{% else %}
		    <p>Няма епизоди за показване</p>
		{% endif %}
	</div>

	<div align="center">
		{% if is_paginated %}
			  <div class="pagination">
			    {% if page_obj.has_previous %}
			      <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
			    {% else %}
			      <a class="disabled"><span>&laquo;</span></a>
			    {% endif %}
			    {% for i in paginator.page_range %}
			      {% if page_obj.number == i %}
			        <a class="active"><span>{{ i }} <span class="sr-only"></span></span></a>
			      {% else %}
			        <a href="?page={{ i }}">{{ i }}</a>
			      {% endif %}
			    {% endfor %}
			    {% if page_obj.has_next %}
			      <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
			    {% else %}
			      <a class="disabled"><span>&raquo;</span></a>
			    {% endif %}
			  </div>
		{% endif %}
	</div>

</form>
{% endblock %}