li a {
  color: white;
}

body {
 background-image: url("images/background.jpg");
 background-color: #cccccc;
 height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
}

#form1 {
  padding-left: 50px;
}

#form2 {
  margin-top: 20px;
  padding-left: 50px;
}

button.index {
  width: 20em;
  height: 2em;
  font-size: 20px;
}

button.list-category {
  width: 10em;
  height: 2em;
  font-size: 20px;
}

#categories-by-5s {
  padding-left: 20px;
}

#button-holder {
  padding-bottom: 10px;
}

#categories-text {
  padding-left: 20px; 
  font-size: 30px;
}

input.home-button {
  width: 5em;
  height: 2em;
  font-size: 20px;
}

label.choice-field {
  font-size: 30px;
}

#choice-button {
  padding-top: 20px;
}

input.choice {
  width: 8em;
  height: 2.5em;
  font-size: 20px;
}

button.choice {
  width: 8em;
  height: 2.5em;
  font-size: 20px;
}

input.choice-field {
  width: 1.5em;
  height: 1.5em;
}

#quit {
 padding-left: 80px;
 padding-top: 20px;
}

#question-data {
  padding-left: 30px;
}

#divs-in-left-aligned-horizontally {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
}

#divs-in-center-aligned-horizontally {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
