li a {
  color: white;
}

body {
 background-image: url("images/background.jpg");
 background-color: #cccccc;
 height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
}

#form1 {
  padding-left: 50px;
}

#form2 {
  margin-top: 20px;
  padding-left: 50px;
}

button.index {
  width: 20em;
  height: 2em;
  font-size: 20px;
}
